echo "# my-thoughts" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Joanne102315/my-thoughts.git
git push -u origin main
